.button {
  height: 40px;
  background-color: #009df0;
  border-radius: 25px;
  color: #f9f9f7;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 800;
  border: none;
  padding: 0 20px;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
