/* Mobile First*/

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #e6eaf0;
  height: auto;
  width: 100vw;
  padding-top: 50px;
  padding-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.input {
  width: 325px;
  height: 55px;
  border-radius: 25px;
  background-color: #f9f9f7;
  padding-left: 30px;
  border: none;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.link {
  color: #1a202c;
  padding-top: 10px;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .container {
    padding-bottom: 50px;
  }
}

/* Bigger Desktop */
@media (min-width: 1121px) {
  .container {
    padding-bottom: 50px;
  }
}
