.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.navigation button {
  border: none;
  background-color: transparent;
  color: #009df0;
  cursor: pointer;
}
